<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048 Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div id="particles-js"></div>
    <div class="container">
        <h2 class="text-center h2-custom">2048 Game</h2>

        <div class="text-center mb-4 image-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/2048_logo.svg" alt="2048 Logo" style="max-width: 200px;">
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <button class="btn btn-custom">Registrate</button>
            </div>
            <div class="col-6">
                <button class="btn btn-custom">Inicia sesión</button>
            </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-custom btn-sm">Juega sin conexión</button>
        </div>

        <div class="text-center mt-4">
            <p style="font-size: 16px;">¡Bienvenido al juego 2048! ¿Estás listo para poner a prueba tu mente y tus habilidades?</p>
            <a href="#" style="font-size: 14px; color: #406c8e;">¿Necesitas ayuda? Visita nuestra página de ayuda.</a>
            <br>
            <a href="#" style="font-size: 14px; color: #406c8e;">Política de privacidad</a>
        </div>

        <div class="text-center mt-4">
            <p style="font-size: 16px;">¡Síguenos en redes sociales para enterarte de las últimas noticias y actualizaciones!</p>
            <a href="#" style="font-size: 24px; color: #406c8e; margin-right: 20px;"><i class="fab fa-facebook-square"></i></a>
            <a href="#" style="font-size: 24px; color: #406c8e; margin-right: 20px;"><i class="fab fa-twitter-square"></i></a>
            <a href="#" style="font-size: 24px; color: #406c8e;"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>
</body>
</html>
