body {
    margin: 0;
    padding: 0;
    font-family: 'ArcadeClassic', cursive;

    background-color: rgb(36, 58, 105);
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-title {
    color: white;
    font-size: 80px; 
    margin-bottom: 2px; 
    margin-top: 2px; 
}

.game-image {
    margin-top: 20px;
    width: 200px; 
    height: auto;
}

.new-game-btn {
    background-color: rgb(244, 244, 242);
    color: rgb(36, 58, 105);
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'ArcadeClassic', cursive;
    font-weight: bold; 
    text-decoration: none;
}

.new-game-btn:hover {
    background-color: rgba(244, 244, 242, 0.8);
}

.username-container {
    margin-top: 20px;
    position: relative; 
    text-align: center; 
}

.username-label {
    color: black;
    position: absolute; 
    top: -20px;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px;
    font-weight: bold; 
}

.username-input {
    background-color: rgb(244, 244, 242);
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin-top: 5px;
    width: 200px; 
    text-align: center; 
    font-family: 'ArcadeClassic', cursive;
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.settings-bar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(154, 170, 171, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

.settings-icon, .stats-icon {
    font-size: 40px; 
    margin-bottom: 10px; 
    color: white; 
}

.settings-icon {
    background-color: rgb(154, 194, 213);
}

.stats-icon {
    background-color: rgb(225, 171, 49);
}


