body {
    font-family: 'ArcadeClassic', cursive;
    text-align: center;
    background: rgb(36, 58, 105);
}

h1 {
    font-size: 48px;
    color: white;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid rgb(2, 27, 50);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid rgb(2, 27, 50);

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu-sonido {
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu-sonido button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-sonido button:hover {
    opacity: 0.7;
}


/*estilos de iconos y panel*/

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.score-panel, .high-score-panel {
    display: inline-block;
    padding: 10px 20px; /* Ajustar el relleno */
    border-radius: 20px; /* Bordes redondeados */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo con transparencia */
    margin-left: 100px;
    margin-right: 100px;
}
.retry-icon {
    display: inline-block;
    font-size: 40px;
   
    
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente los iconos */
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.3); /* Color gris transparente */
    padding: 20px; /* Aumentar el espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}
.footer-icons i {
    font-size: 24px; /* Aumentar el tamaño de los iconos */
    margin: 0 10px; /* Ajustar el margen entre los iconos */
}



.board-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.control-btn {
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}


/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}
